*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* shared style */
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.orange{
    color:orange;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight:bold;
    color: white;
}
/* main style */
header{
    background-color:aliceblue;
    margin-top: 51px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

